@model Model.EF.SanPham
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Model.EF.LoaiSach)ViewBag.Category;
    var relatedproducts= (List<Model.EF.SanPham>)ViewBag.RelatedProducts;
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/Product/Category/@category.MaLoaiSach">@category.TenLoaiSach</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div id="main-content" class="col-md-12">
            <div class="product">
                <div class="col-md-6">
                    <div class="image">
                        <img src="@Model.HinhAnh" />
                        @*<div class="image-more">
                            <ul class="row">
                                <li class="col-lg-3 col-sm-3 col-xs-4">
                                    <a href="#"><img class="img-responsive" src="images/galaxy-note.jpg"></a>
                                </li>
                                <li class="col-lg-3 col-sm-3 col-xs-4">
                                    <a href="#"><img class="img-responsive" src="images/galaxy-note-2.jpg"></a>
                                </li>
                                <li class="col-lg-3 col-sm-3 col-xs-4">
                                    <a href="#"><img class="img-responsive" src="images/galaxy-note-3.jpg"></a>
                                </li>
                                <li class="col-lg-3 col-sm-3 col-xs-4">
                                    <a href="#"><img class="img-responsive" src="images/galaxy-note-4.jpg"></a>
                                </li>
                            </ul>
                        </div>*@
                    </div>
                </div>
                @using (Html.BeginForm("AddItem", "Cart", FormMethod.Post))
                {
                    <div class="col-md-6">
                        <div class="caption">
                            <div class="name"><h3>@Model.TenSach</h3></div>
                            <div class="info">
                                <ul>
                                    @*<li>Mã sách: @Model.MaSach</li>*@
                                    <li>Mã sách: <input name="productId" readonly="readonly" value="@Model.MaSach" /></li>
                                    <li>Mã loại sách: @Model.MaLoaiSach</li>
                                </ul>

                            </div>
                            <div class="price">@(Model.DonGia.HasValue? @Model.DonGia.Value.ToString("N0"):"Liên hệ ")<span></span></div>
                            @*<div class="options">
                        AVAILABLE OPTIONS
                        <select>
                            <option value="" selected>----Please Select----</option>
                            <option value="red">RED</option>
                            <option value="black">BLACK</option>
                        </select>
                    </div>*@
                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                            <div class="well">
                                <label>Số lượng: </label>
                                @*<input class="form-inline quantity" type="text" value="1">*@
                                <input class="txtQuantity" type="text" data-id="@Model.MaSach" name="quantity">
                                <button type="submit" class="btn btn-2 ">Thêm vào giỏ</button>
                                @*<a href="/Cart/AddItem/@Model.MaSach?productId=@Model.MaSach&quantity=1" class="btn btn-2 ">Thêm vào giỏ</a>*@
                            </div>
                            @*<div class="share well">
                                <strong style="margin-right: 13px;">Chia sẻ :</strong>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>*@
                        </div>
                    </div>
                    <div class="clear"></div>
                }

            </div>
            <div class="product-desc">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#description">Description</a></li>
                    <li><a href="#review">Review</a></li>
                </ul>
                <div class="tab-content">
                    <div id="description" class="tab-pane fade in active">
                        <h4>Mô tả</h4>
                        <p>@category.TenLoaiSach</p>
                        <h4>Đánh giá</h4>
                        <p>@Html.Raw(Model.NoiDung)</p>
                    </div>
                    @*<div id="review" class="tab-pane fade">
                        <div class="review-text">
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div class="review-form">
                            <h4>Write a review</h4>
                            <form name="form1" id="ff" method="post" action="review.php">
                                <label>
                                    <span>Enter your name:</span>
                                    <input type="text" name="name" id="name" required>
                                </label>
                                <label>
                                    <span>Your message here:</span>
                                    <textarea name="message" id="message"></textarea>
                                </label>
                                <div class="text-right">
                                    <input class="btn btn-default" type="reset" name="reset" value="Reset">
                                    <input class="btn btn-default" type="submit" name="Submit" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="product-related">
                <div class="heading"><h2>Sản phẩm liên quan</h2></div>
                <div class="products">
                    @foreach (var item in relatedproducts)
                    {
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="product">
                                <div class="image"><a href="/Product/Detail/@item.MaSach"><img src="@item.HinhAnh" /></a></div>
                                <div class="buttons">
                                    <a class="btn cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                                    <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                    <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
                                </div>
                                <div class="caption">
                                    <div class="name"><h3><a href="product.html">@item.TenSach</a></h3></div>
                                    <div class="price">@item.DonGia<span></span></div>
                                    <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                </div>
                            </div>
                        </div>
                    }


                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

